body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;


}

.anfitriao {
    display: flex;
    align-items: center;
    color: #fff;
    width: 780px;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    height: 100vh;
}
